.impactSection {
  padding: 5rem 5.625rem;

  h2 {
    font-size: 3.75rem;
    color: black;
    margin-bottom: 1.938rem;
  }

  p {
    color: black;
    font-size: 1.438rem;
    margin-bottom: 3rem;
  }

  .impactCardSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
