.impactSection {
  padding: 80px 90px;

  h2 {
    font-size: 60px;
    color: black;
    margin-bottom: 31px;
  }

  p {
    color: black;
    font-size: 23px;
    margin-bottom: 48px;
  }

  .impactCardSection {
    display: flex;
    justify-content: space-around;
  }
}
