.cardBlack {
  padding: 50px 60px;
  border: 1px solid black;
  border-radius: 14px;

  

  width: 420px;

  h3 {
    color: #00745a;
    font-size: 44px;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    text-align: center;
  }
}
