.cardBlack {
  padding: 3.125rem 3.75rem;
  border: 1px solid black;
  border-radius: 0.875rem;

  width: 26.25rem;

  h3 {
    color: #00745a;
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 1.875rem;
  }

  p {
    font-size: 1.25rem;
    text-align: center;
  }
}
