.cardWhite {
  padding: 50px 60px;
  border: 1px solid white;
  border-radius: 14px;

  text-align: center;

  width: 500px;

  h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
  }
}
