.primaryButton {
  padding: 1rem 1.938rem;
  background-color: #00745a;
  border-radius: 0.75rem;

  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 480px) {
  .primaryButton {
    padding: 0.7rem 1rem;
    font-size: 0.95rem;
  }
}
