.mainContainer {
  border-top: 2px solid black;

  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 9.375rem;

  section {
    width: 35rem;
    display: flex;
    gap: 3.125rem;
    flex-direction: column;

    .mainBudget {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 50%;

      padding: 0.813rem 0.75rem;
      border-radius: 3.438rem;
      background-color: #e5e5e5;
    }

    h1 {
      font-size: 4.188rem;
      text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    p {
      font-size: 1.563rem;
    }

    .mainBtn {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      .mainBtnDotted {
        padding: 1rem 2.625rem;
        border: 1px solid #00745a;
        border-radius: 0.75rem;
        text-decoration: none;
        color: #00745a;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 900px) {
  .textSection {
    width: 100%;
  }
  
  .imageSection {
    display: none;
    visibility: hidden;
  }
  .doctorImage {
    display: none;
  }
}
