.mainContainer {
  border-top: 2px solid black;

  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  section {
    width: 560px;
    display: flex;
    gap: 50px;
    flex-direction: column;

    .mainBudget {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 50%;

      padding: 13px 12px;
      border-radius: 55px;
      background-color: #e5e5e5;
    }

    h1 {
      font-size: 67px;
    }

    p {
      font-size: 25px;
    }

    .mainBtn {
      display: flex;
      align-items: center;
      gap: 40px;

      .mainBtnDotted {
        padding: 16px 42px;
        border: 1px solid #00745a;
        border-radius: 12px;
        text-decoration: none;
        color: #00745a;
        font-weight: bold;
      }
    }
  }
}
