main {
  display: flex;
  flex-direction: column;

  @media screen {
  }
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
    gap: 1.25rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0.75rem;
  }
}
