.voluntaryPage {
  border-top: 2px solid black;
  text-align: center;

  padding: 50px 58px;

  h2 {
    font-size: 60px;
    margin-bottom: 23px;
  }

  p {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 44px;
  }
}

.formularioVoluntario {
  background-color: #00745a;
  padding: 8% 5%;

  h3 {
    font-size: 1.5rem;
    padding-bottom: 40px;
  }

  .formulario {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 16px;

    fieldset {
      border: none;
      padding-top: 20px;

      legend {
        font-size: 1.125rem;
        font-weight: bold;
      }

      input,
      textarea {
        background-color: #f8f8f8;
        font-size: 1rem;
        padding: 14px 12px;
        border-radius: 10px;
        width: 100%;
      }

      textarea {
        height: 182px;
      }

      .nomeEmail {
        display: flex;
        flex: 1;
        gap: 3%;
        margin-bottom: 19px;
      }
    }

    .mensagem {
      margin-top: 34px;
    }

    .button {
      margin-top: 24px;
      text-align: center;

      legend {
        font-weight: normal;
      }

      button {
        padding: 21px 38px;
        border-radius: 14px;
        border: none;
        background-color: #00745a;
        color: #fff;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
      }
    }
  }
}
