header {
  display: flex;
  padding: 1.563rem 1.75rem;

  justify-content: space-between;

  .headerTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .headerLinks {
    display: flex;
    gap: 1.25rem;
    align-items: center;
  }
  .linkHome {
    font-weight: 400;
    text-decoration: none;
  }
}
