footer {
  background-color: #000;
  color: white;

  padding: 3rem;

  .footerContactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8.25rem;

    .footerContactContainerMain {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    .footerContactContainerSecond {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .footerContactContainerContacts {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  .headerTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .linkHome {
      font-weight: 400;
      text-decoration: none;
    }
  }

  .footerCopyright {
    text-align: center;
    margin-top: 5rem;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 2rem 1.25rem;
  }
  .footerContactContainer {
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
  }
  .footerContactContainer .footerContactContainerSecond {
    align-items: center;
  }
  .footerCopyright {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 1.25rem 0.75rem;
  }
  .footerContactContainer {
    gap: 1rem;
  }
}
