.missionSection {
  padding: 5rem 5.625rem;
  background-color: #00745a;

  h2 {
    font-size: 3.75rem;
    color: white;
    margin-bottom: 1.938rem;
  }

  p {
    color: white;
    font-size: 1.438rem;
    margin-bottom: 3rem;
  }

  .missionCardSection {
    display: flex;
    justify-content: space-evenly;
  }
}
