article {
  width: 28.75rem;

  padding: 1.5rem 4.375rem;

  border: 2px solid black;
  border-radius: 0.875rem;

  h3 {
    margin-bottom: 0.75rem;
    font-size: 1.875rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  article {
    width: 100%;
    padding: 1rem 2rem;
  }
  article h3 {
    font-size: 1.5rem;
  }
  article p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  article {
    padding: 0.75rem 1rem;
  }
  article h3 {
    font-size: 1.25rem;
  }
}
