article {
  width: 28.75rem;

  padding: 1.5rem 4.375rem;

  border: 2px solid black;
  border-radius: 0.875rem;

  h3 {
    margin-bottom: 0.75rem;
    font-size: 1.875rem;
  }

  p {
    font-size: 1.25rem;
  }
}
